.App {
	font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif;
	background-color: #606060; /* Light grey background */
	background-image: url('./components/images/netimg6.jpeg');
		/* Path to your image */
		background-size: cover;
		/* Cover the entire area */
		background-repeat: no-repeat;
		/* Do not repeat the image */
		/* background-position: center; */
		/* background-position: top;  */
		background-position:15%;
	min-height: 100vh;
	max-height: 160vh;
	/* height: fit-content; */
	/* padding: 15px; */

  }
.pages{
	/* padding-bottom: 15px; */
	padding-bottom: 2.5vh;
		max-height: 150vh;
		/* min-height:92.5vh; */
		/* height: 90vh; */
}
/* App.css */

  