/* .App {
  text-align: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
  
=======
>>>>>>> main
} */
.title {
  text-align:center;
  margin: auto;
  width: 50%;
  border: 3 px solid green;
  padding: 10 px;
<<<<<<< HEAD
=======
>>>>>>> b142414 (Created Backend for setCommands)
>>>>>>> main
}
.Base_Command {
  text-align:center;
  margin: auto;
  width: 50%;
  border: 3 px solid green;
  padding: 100px;
}
