.ssh-terminal{
    padding: 1vh;
}
/* .terminal-label{
    color: #ffffff;
} */

.toggle-button {
    padding: 1vh 1vw;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 1vw;
}
.connected {
    background-color: rgb(218, 38, 38);
}

.disconnected {
    background-color: rgb(68, 181, 60);
}
.connection-info{
    display: flex;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 2vh;
        justify-content: space-between;
        padding: 1vh;
    /* display: flex; */

    /* position: sticky; */
    /* display: flex; */
    color: #dddddd;
    /* margin-left: 2vw; */
}
.connection-info input{
    /* margin: 1vw; */
    margin-right: 1vw;
}
.inputoptions{
    width:12vw;
}
.options{
    margin-left: 1vw;
}
.terminal-output{
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: #000000;
        margin: 1vh 1vw;;
        padding: 1vh 1vw ;
        /* Dark mode background for the display */
        color: #f1f1f1;
        border: 10px white;    
        /* Light text color for contrast */
        border-radius: 8px;
        box-shadow: 0 0px 12px rgba(255, 255, 255, 1);
        overflow: auto;
        height: 65vh;
}
.backupIconButton{
    margin-top: 2vh;
        background-color: #DC6B12;
        height: 5vh;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items:center ;
        border: none;
        margin-right: 1vw;;
        cursor: pointer;
        /* box-shadow: 0 0px 12px rgb(255, 115, 0); */
        /* border: 1px solid white; */
        /* border: 5px white; */
        border-radius: 3vh;
}
.backupIconButton:hover{
        transform: scale(1.1);

            /* Slightly enlarge the button */
        box-shadow: 0 0px 12px rgba(255, 255, 255, 1);
}
.icon{
    /* height: 45; */
    width: 2.5vw;
}
.ipCommand{
    display: flex;
    margin-top: 1vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
}
.inputText{
    width: 45vw;
    height: 4vh;
    background-color: rgb(189, 199, 216);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0px 12px rgb(0, 0, 0);
    border-radius: 4px;
}
