.ssh-terminal{
    padding: 10px;
}

.connection-info{
    padding: 2px;
    position: sticky;
}

.terminal-output{
        margin-top: 5px;
        background-color: #000000;
        /* Dark mode background for the display */
        color: #f1f1f1;
        /* Light text color for contrast */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: auto;
        height: 50vh;
        max-height: 80vh;
}