.display {
background-color: #2e2e2e;
  border: 2px solid #808080;
  padding: 30px;
  font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif;
  margin: 20px 0;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  position: relative;
  color: white;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 14px;
background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.copy-button:hover {
  background-color: #0056b3;
}
