

.display-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.copy-button {
  top: 5%;
  right: 5%;
  position:static;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #0056b3;
  /* Darker shade on hover */
}

.display {
  padding: 3.5vh;
  background-color: #454545;
  /* Dark mode background for the display */
  color: #f1f1f1;
  /* Light text color for contrast */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-height: 12vh;
  /* To handle overflow content */
}

pre {
  white-space: pre-wrap;
  /* Handle long lines gracefully */
  word-wrap: break-word;
  /* Break long words if necessary */
  margin: 0;
  /* Remove default margins */
  font-family: 'Courier New', Courier, monospace;
  /* Monospace font for command line */
  font-size: 14px;
}