.button-container {
  display: flex; 
}

.button {
  color: rgba(0, 0, 0, 0.963);
  justify-content: center;
  align-items: justify;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  align-items: center;
  font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif;
  width:15vw;
}

.rhs{
  margin-left: auto;
}

.textbox {
    background-color: #ffffff;
	border: 2px solid #808080;
	padding: 5px;
	font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif;
	width: 300px;
	margin: 5px 0;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

.left-panel {
    max-height: 35vh;
    flex: 1; 
    /* padding: 1.5vh; */
    background-color: #151515; 
    border: 2px solid #909090; 
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(15, 15, 15, 0.2); 
    margin: 3.5vh; 
    padding: 20px;
  }

.right-panel {
    flex: 1; 
    padding: 20px;
    background-color: #151515;
    border: 2px solid #909090;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    margin: 3.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  
.right-panel button,
  .right-panel input {
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #fff;
    justify-content: center;
    border-radius: 3px;

    /* background-color: #e82222; */
    cursor: pointer;
    font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif;
  }
  
.right-panel button:hover,
  .right-panel input:hover {
    background-color: #dcdcdc;
  }

  .manual{
    display: flex;
  }
  .option-container{
    display: flex;
	flex-direction: column;
  }