/* .options {
    background-color: #965f20;
    border: 2px solid #808080;
    padding: 10px;
    font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif;
    margin: 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 90vw;
    justify-content: center;
  } */
.options #heading {
  color: #fff;
  font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif; 
  padding: 1vh;
  border: 2px solid #ffffff; 
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
  text-align: left; 
  margin: 20px auto;
  width: fit-content;
}
.buttonlist{
  background-color: black;
  border: 2px solid #ffffff;
  border-radius: 10px;
  border:5px #d31616;

  border-radius: 8px;
}
