.options #heading {
  color: #fff;
  font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif; 
  padding: 1vh;
  border: 2px solid #ffffff; 
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
  text-align: left; 
  margin: 20px auto;
  width: fit-content;
}
.buttonlist{
  background-color: #454545;
  border: 2px solid   #313030;
  border-radius: 10px;
  display: flex;
  /* border:5px #d31616; */
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.buttonListbutton:hover{
align-items: center;
transform: scale(1.1);
justify-content: center;
}
