/* new css ........................................................................................................................................... */

  .container{
	width: 75vw;
	margin:auto;
  }

  .holder{
	margin-top: 5vh;
	/* height: 40vh; */
  }

  .card{
	color: aliceblue;
	background-color: rgba(23, 22, 22, 0.8);
	height: 50vh;
	/* margin: 2vh; */
	/* padding: 2vh; */
  }

  .head{
	padding: 0 2vw;
	padding-top: 2vh;
  }

  .carddesc{
	padding: 0 2vw;
	padding-bottom: 2vh;
  }


   