.landing{
		font-family: 'Courier-std medium';
			/* background-color: #606060; */
			/* Light grey background */
			/* background-image: url('../../images/netimg.jpg'); */
			/* Path to your image */
			background-size: cover;
			/* Cover the entire area */
			background-repeat: no-repeat;
			/* Do not repeat the image */
			/* background-position: center;*/
			/* background-position: bottom;  */
			background-position: 0dvb;
			/* height: 100%; */
			/* min-height: 100vh;
			max-height: 150vh; */
			;
			/* height: fit-content; */
			/* padding: 15px; */
}

.tagline {
	color: azure;
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	margin-top: 3vh;
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	text-align: center;
	text-decoration: solid;
}

.content{
	height: 85vh;
}
