/* Typewriter.css */
.typewriter {
	color: azure;
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	margin-top: 3vh;
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	text-align: center;
	text-decoration: solid;
  }  
