.container {
    position: relative;
    height: 30vh;
    /* 35% of the screen height */
    margin-top: 2.5vh;
    
    border: 1px solid #ccc;
    /* Optional: just to visualize the container */
}
.button-left{
    position: absolute;
    /* left: 10px; */
    margin-left: 5px;
}
.button-container-right {
    position: absolute;
    right: 10px;
    margin-right: 10px;
    top: 10px;
} 

.button {
    margin-left: 10px;
}