/* navbar.css */

/* General styling for the navbar */
.navbar {
  display: flex;
  margin: 20px auto;
  align-items: center;
  margin-top: 0px;
  justify-content: space-between;
  background-color: #333;
  /* width: 100%; */
  padding: 10px;
  position: sticky;
  z-index: 1000;
  top: 0;

}


.logo {
  height: 65px;
  /* Adjust the height as needed */
  width: 80px;
  /* Same as height to make it a circle */
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* Makes the logo appear in a circle */
}

/* Styling for the unordered list */
.navbar ul {
  display: flex;
  list-style-type: none;
  /* Removes default list styling */
  /* margin: 0; */
  /* Removes default margin */
  /* padding: 0; */
  /* Removes default padding */
  align-items: center;
  /* Center-align list items vertically */
}

/* Styling for list items */
.navbar li {
  margin-left: 20px;
  /* Spacing between list items */
  color: white;
  /* Text color */
  font-size: 16px;
  /* Font size */
  cursor: pointer;
  /* Cursor changes to pointer on hover */
}

/* Add hover effect for list items */
.navbar li:hover {
  color: #ddd;
  /* Slightly lighter color on hover */
}