/* General styling for the navbar */
.nav{
    display: flex;
    justify-content: center;
      align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0%;
  justify-content: space-between;
  background-color: #ddd;
  padding: 1.5vh;
  padding-right: 0%;
  position: sticky;
  z-index: 1000;
  top: 0;
  height: 8vh;
}
.logocontainer{
  /* height: 100%; */
  height: 11vh;
  padding-left: 1vh;;
  /* border-bottom-left-radius: 200vh; */
  border-top-left-radius: 5.5vh;
  background: #000;
}
.logo {
  margin-left: 5%;
  height: 7.5vh;
  width: 7.5vw;
  justify-content: center;
  align-items: center;
}
.logo2{
  /* margin-left: 5%; */
  height: 11vh;
  width: 18vw;;
  /* width: 16vw; */
  justify-content: center;
  align-items: center;
  right: 0%;
  /* transform: scale(1.1); */
}

/* Styling for the unordered list */
.navbar ul {
  flex: 1;
  text-align: center;
  display: flex;
  list-style-type: none;
  align-items: center;
}

/* Styling for list items */
.navbar li a:not(.active){
  margin: 10px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 2vw;
}

/* Add hover effect for list items */
.navbar li a:not(.active):hover {
  color: rgb(58, 48, 241);
}

/* Add active link styling */

.active {
  color: white;
  padding: 2vh;
  padding-bottom: 4vh;
  padding-top: 10px;
  border-top: 10px;
  /* border: 4px; */
  border-top-left-radius: 10px;
  /* border-top-right-radius: 10px ; */
  text-decoration: none;
  /* border: 2px solid #ffffff; */
    background-color: #606060;
      /* Light grey background */
}
