.current-command-display {
	background-color: #454545;;
	padding: 10px;
	font-family: 'Tahoma', 'Verdana', 'Arial', sans-serif;
	color: white;
	border: none;
	border-radius: 8px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
	min-height: 2vh; 
	resize: none; 
	overflow-y: auto; 
	
	margin: 1vh;
  }
/* .current-command-display {
	    padding: 1.5vh;
	    background-color: #454545;
		border: none;
		resize: none;
	    color: #f1f1f1;
	    border-radius: 8px;
	    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	    overflow-y: auto;
	    max-height: 16vh;
		
}  */
